<div *ngIf="loading" class="sample-container">
    <po-loading-overlay></po-loading-overlay>
</div>
<div *ngIf="!loading">
    <po-accordion class="filters-accordion po-lg-12 po-mt-2">
        <po-accordion-item p-label="Filtros">
            <div class="po-row">
                <po-select class="po-md-2" p-label="Tipo" name="tipo" [ngModel]="tipo"
                    (ngModelChange)="onChangeTipo($event)" [p-options]="tipoOptions">
                </po-select>
                <po-select class="po-md-2" p-label="Liquidado?" name="liquidado" [ngModel]="liquidado"
                    (ngModelChange)="onChangeLiquidado($event)" [p-options]="liquidadoOptions">
                </po-select>
                <po-input class="po-md-2" name="notaFiscal" [ngModel]="notaFiscal"
                    (ngModelChange)="onChangeNotaFiscal($event)" p-clean p-label="Nota Fiscal">
                </po-input>

                <po-input class="po-md-2" name="fornecedor" [ngModel]="fornecedor"
                    (ngModelChange)="onChangeFornecedor($event)" p-clean p-label="Fornecedor">
                </po-input>
                <po-select class="po-md-2" p-label="Papeleta" name="papaleta" [ngModel]="papeleta"
                    (ngModelChange)="onChangePapeleta($event)" [p-options]="papeletaOptions">
                </po-select>
                <po-select class="po-md-1" p-label="Imprimir?" name="imprimir" [ngModel]="imprimir"
                    (ngModelChange)="onChangeImprimir($event)" [p-options]="imprimirOptions">
                </po-select>
            </div>
            <div class="po-row po-mt-1 filters-actions">
                <po-datepicker class="po-md-3" name="startDate" [(ngModel)]="startDate"
                    (p-change)="onStartChanged($event)" p-format="dd/mm/yyyy" p-label="Data Inicial">
                </po-datepicker>

                <po-datepicker class="po-md-3" name="endDate" [(ngModel)]="endDate" (p-change)="onEndChanged($event)"
                    p-format="dd/mm/yyyy" p-label="Data Final">
                </po-datepicker>


                <div class="po-md-6 actions-right">
                    <po-button p-label="Filtrar" p-kind="secondary" (p-click)="filtrar()">
                    </po-button>
                    <po-button p-label="Excel" p-kind="primary" (p-click)="exportToExcel()"></po-button>
                </div>
            </div>
        </po-accordion-item>
    </po-accordion>
    <po-accordion class="filters-accordion po-lg-12 po-mt-2">
        <po-accordion-item p-label="Indicadores">
            <div class="po-row mb-4">
                <div class="po-md-12 po-lg-12">
                    <po-container class="po-lg-6 " [p-height]="435">
                        <po-chart class="po-font-text-bold po-text-center" [p-series]="colunaItens"
                            [p-options]="chartOptions">
                        </po-chart>
                    </po-container>
                    <po-container class="po-lg-3" [p-height]="435">
                        <div class="po-font-text-bold "></div>
                        <po-chart [p-options]="chartOptions" [p-series]="pizzaItens">
                        </po-chart>
                    </po-container>
                    <po-container class="po-md-3 widgets-coluna" [p-height]="435">
                        <div class="widgets-wrapper">
                            <po-widget class="widget-card">
                                <div class="widget-value">{{ totalNotas }}</div>
                                <div class="widget-label">NFs</div>
                            </po-widget>

                            <po-widget class="widget-card">
                                <div class="widget-value">{{ mediaDiasSLA }} D</div>
                                <div class="widget-label">Média Dia</div>
                            </po-widget>

                            <po-widget class="widget-card">
                                <div class="widget-value">{{ mediaHorasSLA }} h</div>
                                <div class="widget-label">Média Horas</div>
                            </po-widget>

                            <po-widget class="widget-card destaque">
                                <div class="widget-value">{{ totalHorasSLA }} h</div>
                                <div class="widget-label">Horas SLA</div>
                            </po-widget>
                        </div>
                    </po-container>
                </div>
            </div>
        </po-accordion-item>
    </po-accordion>
    <po-table class="rcap-table" p-container="border" [p-sort]="true" [p-striped]="true" [p-columns]="columns"
        [p-items]="items" [p-max-columns]="16" [p-virtual-scroll]="true">
    </po-table>
</div>